<article>
    <h1>River Trips</h1>
    <ul>
        <li>Find a trip or river: WKC trips or organize your own</li>
        <li>No WKC trips on the calendar? Consider <a href="http://paddletrails.org" target="_blank">Paddle Trails</a></li>
    </ul>
</article>
<article>
    <h2>When to sign up</h2>
    <ul>
        <li>No later than the Wednesday before a weekend day trip</li>
        <li>For overnight trips call a week or more in advance</li>
    </ul>
</article>
<article>
    <h2>Ask the trip leader the 4W’s!</h2>
    <ul>
        <li><strong>When:</strong> meet time</li>
        <li><strong>Where:</strong> meet location (put-in or take-out)</li>
        <li><strong>What:</strong> classification, length, characteristics, current level, hazards of river</li>
        <li><strong>Who:</strong> group size and skills, how many vehicles</li>
    </ul>
</article>
<article>
    <h2>Tell the trip leader</h2>
    <ul>
        <li>Names of ALL attendees, ages (if minors)</li>
        <li>Your training, experience, and/or skills</li>
    </ul>
</article>
<article>
    <h2>Arrange yourself</h2>
    <ul>
        <li>Carpooling, lunch, gear, etc.</li>
    </ul>
</article>
<article>
    <h2>Bring</h2>
    <ul>
        <li>Use the <a routerLink="/gearChecklist">gear checklist</a> & cookies!</li>
    </ul>
</article>
<article>
    <h1>Sample Email to WKC Trip Leader</h1>
    <div class="border">
        <p>Hi,</p>
        <p>My name is Shred Betty and I am a current member of the WKC and would like to sign up for your “name of
            river” trip on the XX date. I took the WKC intro to kayaking class in the spring of 2022 and have been on # of
            rivers including the _____ section of the _______ river. I am working on my roll in the pool and am successful
            about 50% of the time. I love wave trains, but still have trouble reading water and would be interested in
            following a more experienced boater down the river. I paddle a Dagger Mamba.</p>
        <p>I have an awesome roof rack that can hold 4 boats including my own and don’t mind running shuttle. (Or—I
            don’t have a car that is really good for a shuttle vehicle/ I am planning on carpooling with Commando Kayaker)</p>
        <p>A few questions for you:</p>
        <ul>
            <li>Would this be a good run for someone with my skill level?</li>
            <li>Can I walk any of the hard rapids if needed?</li>
            <li>Is it possible to follow someone down the river since I have never run it before?</li>
            <li>Is space available? Where and when you are planning to meet?</li>
        </ul>
    </div>
</article>
