<article>
    <h1>Tips & Reminders</h1>
    <ul>
        <p><li>Use nose plugs, unless you amazingly don’t get water up your nose. It also helps save air,
            allowing you more time so you don’t rush your roll.</li></p>
        <p><li>Feel free to bring a diving mask or goggles if you are a visual learner.</li></p>
        <p><li>Use the <a routerLink="/gearChecklist">gear checklist</a> to ensure you have all required equipment.</li></p>
    </ul>
</article>
<article>
    <h1>Pool 2 Overview</h1>
    <p>Watch the following videos which provide a great overview of learning to roll your kayak.</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ACfo6_YASiw?si=Aa7OpdZc9NDkqgrw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container">
      <iframe src="https://player.vimeo.com/video/6175231?h=9d9722eeb1&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
<!--      <script src="https://player.vimeo.com/api/player.js"></script>-->
    </div>
    <p>Read <a href="assets/content/Mechanics_of_a_Reliable_Roll_by_Mary_DeRiemer_106057873.pdf" target="_blank">"Mechanics of a Reliable Roll"</a> by Mary DeRiemer.</p>
    <p>Read <a href="assets/content/Bombproofing_Your_Roll_ by_Mary_DeRiemer.pdf" target="_blank">"Bombproofing Your Roll"</a> by Mary DeRiemer.</p>
</article>
