<article>
    <h1>Tips & Reminders</h1>
    <ul>
        <p><li>Have a good breakfast for energy.</li></p>
        <p><li>Bring a large towel or something else that will work for changing.</li></p>
        <p><li>There will be no access to your car during the day; bring lunch and whatever else you might
            need in your boat (if you’re with someone else, make sure you have divided your lunch and work
            out a solution to having access to the car afterwards).</li></p>
        <p><li>Make sure everything is secured in your boat (thermos, food, etc.)</li></p>
        <p><li>Use the <a routerLink="/gearChecklist">gear checklist</a> to ensure you have all required equipment.</li></p>
    </ul>
</article>
<article>
    <h1>River 1 Overview</h1>
    <p>Read the excerpts from the course textbook <a href="assets/content/River_1_-_Referenced_Reading_Pages.pdf" target="_blank">"Whitewater Kayaking, The Ultimate Guide"</a> to become more familiar with the following topics which we'll be covering on the river.</p>
    <ul>
        <li>Posture</li>
        <li>Holding a paddle</li>
        <li>Shoulder safety - "paddlers box"</li>
        <li>Torso rotation</li>
        <li>Forward stroke</li>
        <li>Back stroke</li>
        <li>Forward sweep</li>
        <li>Draw strokes</li>
        <li>Bracing</li>
        <li>What's an eddy?</li>
        <li>Intro to eddy turns</li>
        <p><li><strong>The Three Golden Rules</strong></li></p>
        <ul>
            <p><li><strong>Separate your body movements.</strong> Allow your upper & lower body to work independently.</li></p>
            <p><li><strong>Use the power of your torso.</strong> The large muscles of your torso maximize the strength of your stroke.</li></p>
            <p><li><strong>Maintain control with an active blade.</strong> Get your next stroke in the water as soon as you take one out.</li></p>
        </ul>
    </ul>
</article>
<article>
    <p>Watch the following videos which further cover some of the above topics.</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vR5Bc8TyvBs?si=v-PlGz4ba9YJtS6e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-9nz6JKcybM?si=LYyrCSavuL0Pd7tF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3qWfoKl7-Gs?si=bi7l4suoQisCyXLe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</article>
<article>
    <h1>Review</h1>
    <p>Review the topics covered in the pool session.</p>
    <ul>
        <li>Wet exits & swimming</li>
        <li>Separation of upper & lower body</li>
        <li>Edging/balancing</li>
        <li>Hip snap/head dink</li>
        <li>T-rescue; aka Bow rescue</li>
    </ul>
</article>
<article>
    <h1>Gear Care</h1>
    <ul>
        <p><li>Hang your drysuit and other gear up when you get home. If your gear is not properly dried for storage, it will develop the 'river funk' smell.</li></p>
        <p><li>If washing your drysuit, use a mild non-detergent soap and either hand wash or use a delicate cycle. It is good practice to clean your drysuit every once in a while to rinse off dirt that wears the suit over time. Do not use cleaning materials such as bleach as they will melt the rubber and ruin the suit.</li></p>
        <p><li>Applying seal saver (303 protectant) from time to time will increase the lifespan of your neck and wrist gaskets.</li></p>
        <p><li>If the drysuit zippers are difficult to operate or stuck, applying a zipper wax will improve usability.</li></p>
    </ul>
</article>
