<article>
    <h1>Introduction - Beginner Whitewater Kayaking Course</h1>
    <p>Welcome to the Beginner Whitewater Kayaking Course! We look forward to working with you and helping you
        successfully complete this course. The methods and techniques you learn, skills you develop, and
        experience you gain from completing this course will give you a sound basis for a safe and enjoyable
        kayaking career.</p>
    <p>The Beginning Whitewater Kayaking Course is a program of classroom and on-water instruction. You
        will succeed in this course and have more fun in the process if you keep the following points in mind:</p>
    <ul>
        <li><p>The Washington Kayak Club (WKC) is a club, not a guide service. The course instructors and
            helpers are volunteers who will help you learn the craft of whitewater kayaking. You are an
            equal participant, responsible for your safety and progress in the WKC Beginning Whitewater
            Kayaking Course.</p></li>
        <li><p>Commit now to attend all the classes, pool sessions, and river days. This course teaches a
            progression of skills, therefore participation in all sessions is required. Arriving late or missing a
            session will impact your ability to continue with the course.</p></li>
        <li><p>Arrive on time for all classes and on-water days. Consider arriving 15 minutes early to orient
            yourself to any new location.</p></li>
        <li><p>Good physical conditioning is recommended for completing on-water days and also for your
            safety. You are encouraged to start your training before the class begins.</p></li>
        <li><p>Be prepared and organized for each day of the course! Read the referenced pages from your
            textbook "Whitewater Kayaking, The Ultimate Guide" by Ken Whiting and Kevin Varette, the linked handouts, and watch
            the videos in the homework section. We will use the river to explain
            many concepts throughout the course, however your familiarity with the terminology will be
            helpful for your understanding.</p></li>
        <li><p>Have a positive attitude and seek help and information when needed. Don’t be afraid to ask
            questions. Your instructors enjoy helping you. We want you to succeed and continue to kayak
            (with us) in the future.</p></li>
        <li><p>Your kayaking friends and family will be great resources for your kayaking development;
            however, during this course we will only allow our chosen volunteers and instructors at any
            session.</p></li>
        <li><p>The club is committed to conserving the wild places where we play. Be environmentally
            conscious and responsible.</p></li>
        <li><p>Importantly, HAVE FUN!</p></li>
    </ul>
</article>

<article>
    <h1>What To Expect - Student Preparation</h1>
    <p>All required equipment is needed before the start of the course. Students are expected to prepare by
        reviewing the materials identified for each session. A majority of the sessions are at venues where
        access to the reference material is inconvenient or impractical. The homework structure builds on skills
        learned in the previous class so attendance at each class is required.</p>
</article>
<article>
    <h1>Pools</h1>
    <ul>
        <li><p>First half hour we will unload and rinse boats, dress, chalk talk, etc.</p></li>
      <li><p>Bring all required gear on the <a routerLink="/gearChecklist">gear checklist</a> (pool section)</p></li>
    </ul>
</article>
<article>
    <h1>River Venues</h1>
    <ul>
        <li><p>First half hour we will unload boats, dress and set shuttle for vehicles (don’t be late!)</p></li>
        <li><p>Bring all required gear on the <a routerLink="/gearChecklist">gear checklist</a> (river section)</p></li>
        <li><p>River water levels and conditions are subject to change and can impact class River Days. If an
            alternative location is not available, the River Day may be cancelled and efforts will be made to
            reschedule a River Day within a reasonable timeframe.</p></li>
        <li><p>Be prepared to drive! We’ve been known to travel east of the mountains to run rivers at more
            suitable levels.</p></li>
    </ul>
</article>
<article>
    <h1>Protect your valuables!</h1>
    <p>Pool parking lots, river put-ins and river take-outs are like trailheads and are prone to vehicle break-ins.</p>
    <p>Pools: bring all clothes and valuables to the poolside; do not leave them in the car or locker room.</p>
    <p>Rivers: wear money, ID and car keys ON YOUR BODY; do not leave them in the car or in your kayak.</p>
    <p>When leaving your boat unattended on your car lock it to your roof rack or put it inside your vehicle. Bike locks or a cable with a padlock work well.</p>
</article>
<article>
    <h1>Equipment</h1>
    <p>The gear checklist is a guide for deciding what equipment to bring for various types of outings. As
        you gain experience, you will learn whether you are generally cold or warm in various conditions and
        you will see which items you seem never to use and which items you always wish you had. For the
        duration of this class, however, please follow the <a routerLink="/gearChecklist">gear checklist</a>.</p>
</article>

