<article>
    <h1>Shopping Resources</h1>
    <h2>A Good Shopping Approach</h2>
    <p>Get good clothing now! The people who dress warm and are comfortable are more willing to
        practice and hence are the ones who prosper in this sport.</p>
    <p>Consider renting a river-running/creek style kayak equipment for class. This allows you to get a
        good idea of what you like at an affordable price. Once you find a boat you are comfortable
        paddling and enjoy, consider the used boat market! A river-running/creek style kayak is a
        good start for both introduction into the sport and progressing your skills. Play boats are
        strongly discouraged for use in class. If you are taller than your boat, that’s a good indication it
        is likely a play boat.</p>
    <p>There are many models of hard-shell kayaks available, and there is a lively market in used
        boats. Keep in mind, there are some models of boats on the used market that are Bad News for
        beginners. Feel free to ask us first!</p>
</article>
<article>
    <h1>Kayak Academy</h1>
    <p>Sales/Used Equipment/Rentals</p>
    <p>11801 188th Ave SE<br>
        Issaquah, WA 98027<br>
        206.527.1825<br>
        <a href="https://www.kayakacademy.com/" target="_blank">www.kayakacademy.com</a></p>
</article>
<article>
    <h1>Northwest Outdoor Center (NWOC)</h1>
    <p>Sales/Rentals/On-Site Bulletin Board of Used</p>
    <p>2100 Westlake N<br>
        Seattle, WA 98109<br>
        206.281.9694<br>
        <a href="https://www.nwoc.com/" target="_blank">www.nwoc.com</a></p>
</article>
<article>
    <h1>Internet [Web Used Classifieds]</h1>
    <p><a href="https://wakayakclub.clubexpress.com/content.aspx?page_id=2154&club_id=821680&item_id=12497" target="_blank">Washington Kayak Club Classifieds</a></p>
    <p>Craigslist (surrounding communities)</p>
</article>
<article>
    <h1>Web Sales/Web Used Classifieds</h1>
    <p><a href="https://coloradokayak.com/" target="_blank">Colorado Kayak Supply</a></p>
    <p><a href="https://www.nrs.com/" target="_blank">Northwest River Supply (NRS)</a></p>
    <p><a href="https://www.outdoorplay.com/" target="_blank"> Outdoor Play</a></p>
    <p><a href="https://nextadventure.net/" target="_blank">Next Adventure</a></p>
</article>
<article>
    <h1>Facebook Groups [Tips/Suggestions/Used Gear]</h1>
    <p><a href="https://www.facebook.com/groups/388609658285236" target="_blank">Washington STATE Whitewater Gear For Sale</a></p>
    <p><a href="https://www.facebook.com/groups/SeattleWhiteWater/" target="_blank">Seattle White Water Kayaking</a></p>
    <p><a href="https://www.facebook.com/groups/11349657251/" target="_blank">Washington Kayak Club</a></p>
    <p><a href="https://www.facebook.com/groups/560997027362095/" target="_blank">Whitewater Ladies of Washington</a></p>
    <p><a href="https://www.facebook.com/groups/1644144329181909/" target="_blank">Whitewater Wild PNW</a></p>

</article>
