<article>
    <h1>River 3 Overview</h1>
    <p>Read "Whitewater Kayaking, The Ultimate Guide" chapter 6 - The Anatomy of Whitewater.</p>
    <p>Read "Whitewater Kayaking, The Ultimate Guide" chapter 7 - River Running.</p>
    <p>Read <a href="assets/content/River_3_-_River_Features.pdf" target="_blank">River III River Features</a> which highlights features we will not be able to expose you to on the river and explains
        the hazards associated with them.</p>
</article>
<article>
    <h1>Anatomy of Whitewater</h1>
    <ul>
        <li>Classifications</li>
        <li>What makes a river: hydrology</li>
        <li>Types of rivers</li>
        <li>River Features/Hazards</li>
        <ul>
            <li>Downstream-V</li>
            <li>Waves</li>
            <li>Bends in the river</li>
            <li>Horizon line</li>
            <li>Hydraulics/Holes</li>
            <li>Pourovers</li>
            <li>Wood</li>
            <li>Strainer/Sieve</li>
            <li>Gravel bar</li>
            <li>Man-made weirs, dams & bridge abutments</li>
            <li>Flooding rivers</li>

        </ul>
    </ul>
</article>
<article>
    <h1>River Running</h1>
    <ul>
        <li>Review: Eddy turns, Ferries, Leaning into rocks</li>
        <li>S-turns</li>
        <li>Midstream turning; boat awareness</li>
        <li>Scouting – boat vs. shore</li>
        <li>Portaging</li>
    </ul>
</article>
<article>
    <p><strong>The more you know about river features, the better equipped you are to have fun & be safe on the river.</strong></p>
</article>
