<article>
    <h1>Pool 1 Overview</h1>
    <p>Use the <a routerLink="/gearChecklist">gear checklist</a> to ensure you bring all necessary equipment to pool 1.  </p>
</article>
<article>
    <h2>Tips & Reminders</h2>
    <h3>Gear Preparation</h3>
        <ul>
            <li><p>We’ll be outside for about 30-60 minutes, so dress accordingly (think umbrellas ☺)</p></li>
            <li><p>Take time to rinse the inside and outside of your boat at home if it is really dirty. If you have a
                shopvac, it is a great tool for getting dirt, pine needles, leaves, etc. out of your boat. Helpful
                hint: Rinse/Vacuum inside of the boat before inserting float bags.</p></li>
            <li><p>Gear tub – A great idea is to use a Rubbermaid tub (~18gal) to carry gear and use when all your
                gear is wet.</p></li>
            <li><p>Try on gear and sit in your boat for a feel of how you fit in the boat before the first day of class.
                Please reach out to the instructors if you have questions or concerns about gear.</p></li>
        </ul>
    <h3>Gear Preparation</h3>
    <ul>
        <li><p>Don’t leave anything in the locker room unless you lock it up.</p></li>
        <li><p>Pool water is warm, but the air is slightly cool, dress accordingly. A good combo is a swimming
            suit with shorts/rash guard. Booties/river shoes in pool are great too.</p></li>
        <li><p>Make sure not to wear anything with loops or loose items that can get caught inside your boat
            (laces, sandals, straps, etc).</p></li>
        <li><p>Float bags are a must!!! We will be checking for these on all on-water days including pool days.</p></li>
        <li><p>PFD’s (life jacket) – Please wear your PFD in the pool, it makes it easier for instructors/helpers to
            assist you.</p></li>
        <li><p>Goggles or diving mask – Consider bringing if you are a visual learner.</p></li>
        <li><p>Ear plugs and nose plug - Consider bringing for increased comfort while learning.</p></li>
        <li><p>River gloves and river shoes – Consider wearing when practicing boat exits. The pool is a
            non-threatening environment to practice with gear worn on the river.</p></li>
        <li><p>Drysuit/Drytop – It is not advised to wear it in the pool. In a pool environment, you will overheat in a drysuit. Further, the chlorine in the pool will damage the drysuit.</p></li>
    </ul>
</article>
<article>
    <h1>Boat Checks</h1>
    <p>All required gear will be checked prior to allowing students on-water. Complete your boat outfitting prior to the first day. Use the following video as a guide, but if you have any questions please reach out the instructors prior to the first day of class.</p>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/I2VAT0A8UXw?si=0n3MPK9sZh9l9YjX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</article>
<article>
    <h1>Clean Boats!!!</h1>
    <p>It is extremely important that boats are cleaned prior to pool sessions. If we bring in boats with dirt, leaves, etc. the pool filters get clogged and pools are less likely to allow us back in the future. Boats need to be cleaned both outside (the hull and deck) as well as inside. Cleaning the inside of the boat may entail removing the float bags to ensure any trapped debris is washed out. Prior to bringing your boat to the pool where there will be a hose to rinse the boat out, a great tip is to use a shop vac at home to remove most of the crud first.</p>
</article>
<article>
    <h1>Pool Skills</h1>
    <p>Read the excerpts from the course textbook <a href="./assets/content/Pool_1_-_Referenced_Reading_Pages.pdf" target="_blank">"Whitewater Kayaking, The Ultimate Guide"</a> to become familiar with the following topics. We will be covering these topics in more detail during the pool session.</p>
    <ul>
        <li><p>Getting in/out of boat.</p></li>
        <li>Wet exits & swimming (self-rescue & assisted).</li>
            <ul>
                <li>Feet up</li>
                <li>Hold onto gear</li>
                <li>Move to end of boat (grab loop and paddle in one hand)</li>
                <li>Aggressively swim</li>
                <li><p>Follow instructions from your rescuer</p></li>
            </ul>
        <li><p>Emptying the boat.</p></li>
        <li><p>Hip snaps/head dinks.</p></li>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VDlwEKp8i4M?si=5SPa3CyQwpj_Tauo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <li><p>Separation of upper & lower body.</p></li>
        <li><p>Edging and balancing.</p></li>
        <li><p>T-rescue; aka Bow rescue</p></li>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OiBd2RnXu7g?si=-DuVAdWfpzQvOSTH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </ul>
</article>
