html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


main {
    /*width: 97.5%;*/
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
    background-color: #eeeeee;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 3rem;
    font-size: medium;
    border-color: black;
    padding: 30px;
    background-color: white;
    font-family: "Arial";
    color:#454545
}

h1 {
    color: darkblue;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-bottom: 30px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.border {
    border: black;
    border-style: solid;
    padding: 15px;
    margin-bottom: 30px;
}

