<article>
    <h1>Pool 3 Overview</h1>
    <p>Make the best of our last pool session, come and work on anything from challenge moves to rolling.
        Don't be disappointed if you don’t have your roll yet, it comes with time and we all learn at different
        speeds. Stay positive and just have fun! There are plenty of opportunities to get out after class and
        practice rolling (check for upcoming pool sessions on the calendar). Please note that a roll is NOT
        required for the last two river days.</p>
</article>
