<article>
    <h1>River 4 Overview</h1>
    <p>For your graduation paddle we will be transitioning from a class environment to attending club trips and
        running your own personal river trips. We want you to be familiar with the process of signing up for a
        club trip, but also expose you to the resources available when choosing and organizing your own river
        trip!</p>
    <p>Read <a href="assets/content/River_Trips.pdf" target="_blank">Let's Go Boating</a> about HOW to register for river trips.</p>
</article>
<article>
    <h1>Pre-Trip Organization</h1>
    <ul>
        <li>Safety equipment before leaving home (float bags, spare paddle, first aid kit, etc.)</li>
        <li>Planning where to meet: The "put-in" is upstream & the "take-out" is downstream</li>
        <li>Shuttle vehicles</li>
    </ul>
</article>
<article>
    <h1>Transitioning from Class to Club/Personal Trips</h1>
    <ul>
        <li>Get out & paddle right after class (with each other too!)</li>
        <li>Set goals</li>
        <li>Work on making hard moves on easier runs</li>
        <li>Always work on your roll!</li>
        <li>Take a class: Rescue, CPR, Wilderness First Aid, etc.</li>
        <li>Use “us” as a resource</li>
    </ul>
</article>
<article>
    <h1>Safety Talk</h1>
    <ul>
        <li>Communication (paddle, whistle, hands – pass ALL signals back!)</li>
        <li>Hazards</li>
        <li>Self-rescue and getting assistance</li>
        <li>River running safety (lead, sweep, spacing, group awareness, let someone know if following,
            rescue people first-gear second, stay in the eddy if not comfortable rescuing)</li>
        <li>Logistics</li>
    </ul>
</article>


<article>
    <h1>Fun on the River</h1>
    <p>Read "Whitewater Kayaking, The Ultimate Guide" pages 169-178 - Surfing.</p>
</article>
