<article class="border">
    <h1>Pool Gear Checklist</h1>
    <h2>Required</h2>
    <ul style="list-style-type: none">
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Hard-Shell Kayak</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Float Bags for back of kayak (front also, if long)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Helmet</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Paddle</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Sprayskirt (needs to fit your kayak)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater PFD (personal floatation device)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Pool Wear (could include: swimsuit, shorts, wicking top, neoprene, rash guard)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Towel (used on river to change under)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Complete set of dry clothes (after on-water activity)</li>
    </ul>
    <h2>Optional</h2>
    <ul style="list-style-type: none">
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Nose Plugs (can go upside down w/o getting water up your nose?)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Earplugs</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Goggles</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Sponge</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Extra pads, foam, duck tape, etc. for boat outfitting</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Booties</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Paddling Gloves or Pogies</li>
    </ul>
</article>
<article class="border">
    <h1>River Gear Checklist</h1>
    <h2>Required</h2>
      <ul style="list-style-type: none">
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Hard-Shell Kayak</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Float Bags for back of kayak (front also, if long)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Helmet</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Paddle</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater Sprayskirt (needs to fit your kayak)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whitewater PFD (personal floatation device)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Drysuit (recommended) or Drytop/Wetsuit combo</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Booties</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Paddling Gloves or Pogies</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Helmet Liner/Hat (for warmth)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Socks (wool/synthetic)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Wicking Base Layer (capilene, polopropylene, wool, fleece)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Wicking Insulation Layer (capilene, polypropylene, wool, fleece)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Towel (used on river to change under)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Complete set of dry clothes (after on-water activity)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Water or Hydration drink (bottle attached to inside of boat)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Dry bag/box (to keep lunch dry & needs to attach to inside of boat)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Lunch (energy bars, sandwich, trail mix, etc.)</li>
          <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox"><a href="https://www.discoverpass.wa.gov/" target="_blank">Discover Pass</a> ($10 per day, $30 annual pass)</li>
      </ul>
    <h2>Recommended</h2>
      <ul style="list-style-type: none">
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Nose Plugs (can go upside down w/o getting water up your nose?)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Whistle</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Sunscreen</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Wallet (wear and stow on self - not in boat)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Extra vehicle keys (possibly hidden on car)</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Sponge</li>
      </ul>
    <h2>Optional</h2>
      <ul style="list-style-type: none">
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Sealskinz, Goretex Socks</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Earplugs</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Visor for helmet</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Sunglasses w/ croakies</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Zipper Wax</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Paddle Wax</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">SealSaver</li>
        <li style="text-indent: -1.3em; padding-left: 1.3em"><input type="checkbox">Extra pads, foam, duck tape, etc. for boat outfitting</li>
    </ul>
</article>
