<article>
    <h1>Resource Materials</h1>
    <p>*Instruction e-book will be provided free with the course.</p>
</article>
<article>
    <h2>Guidebooks</h2>
    <ul>
        <li>A Guide to the Whitewater Rivers of Washington - Jeff Bennett</li>
        <li>A Paddler's Guide to the Olympic Peninsula - Gary Korb (PDF version available thru AW)</li>
        <li>Washington Whitewater - Douglass North</li>
    </ul>
</article>
<article>
    <h2>Safety Books</h2>
    <ul>
        <li>River Rescue - Les Bechdel and Slim Ray</li>
        <li>River Safety Anthology - Walbridge Charles and Jody Tinsley</li>
        <li>Whitewater Rescue Manual - Walbridge & Wayne A. Sunmacher Sr.</li>
    </ul>
</article>
<article>
    <h2>Instruction Books</h2>
    <ul>
        <li>Catch Every Eddy Surf Every Wave - Tom Foster and Kel Kelly</li>
        <li>Kayak - William Nealy</li>
        <li>Performance Kayaking - Stephen B. U’ren</li>
        <li>The Bombproof Roll and Beyond - Paul Dutky</li>
        <li>The Essential Whitewater Kayaker, A Complete Course - Jeff Bennett</li>
        <li>Whitewater and Sea Kayaking - Kent Ford</li>
        <li>* Whitewater Kayaking, the Ultimate Guide - Ken Whiting and Kevin Varette</li>
    </ul>
</article>
<article>
    <h2>Instructional Videos</h2>
    <ul>
        <li>Breakthru!; Retendo; The Kayak Roll - Performance Video & Instruction Inc</li>
        <li>Cold, Wet and Alive - Walkabout Productions</li>
        <li>Essential Boat Control - Water Works Production</li>
        <li>Grace Under Pressure - Rapid Progression</li>
        <li>Liquid Skills; SOAR - Ken Whiting</li>
        <li>The Kayaker’s Edge; The River Runners Edge - Kent Ford</li>
    </ul>
</article>
<article>
    <h2>Free Handouts</h2>
    <p>Log into WKC website to access</p>
    <ul>
        <li>WKC website>Club Info>Documents>Whitewater</li>
    </ul>
</article>

