<article>
    <h1>River 2 Overview</h1>
    <p>Read <a href="assets/content/River_2_-_River_Features.pdf" target="_blank">"River II River Features"</a>.</p>
    <p>Read "Whitewater Kayaking, The Ultimate Guide" chapter 15 - River Ettiquette.</p>
    <p>Read "Whitewater Kayaking, The Ultimate Guide" pages 214-215 - Group Dynamics.</p>
</article>
<article>
    <h1>Etiquette</h1>
    <ul>
        <li>Leave No Trace!</li>
        <li>Smoking: be respectful of those around you! Take your butts home ;)</li>
        <li>Driving and parking: don't park/stand in the road or private drives.</li>
        <li>Private property: respect it! Violate only if rescue/life/death – never convenience!</li>
        <li>Modesty and bathroom habits:</li>
        <ul>
            <li>No flashing – don’t ruin a kid for life ;)</li>
            <li>Use man-made toilets when available.</li>
            <li>Bury poo and pack out TP.</li>
        </ul>
        <li>Be respectful to other river users: anglers, rafters, other kayakers, canoeists, wildlife.</li>
    </ul>
</article>
<article>
    <h1>Safety</h1>
    <ul>
        <li>Safety is <strong>everyone's</strong> reponsibility.</li>
        <li>Wet exit, self-rescue, swimming with gear & being towed.</li>
        <li>Never stand up in the river, unless you can crawl!</li>
        <li>Understand river signals.</li>
    </ul>
</article>
<article>
    <h1>River 2 Skills</h1>
    <ul>
        <li>Review: strokes, braces & draws from River 1.</li>
        <li>Eddy turns</li>
        <li>Ferries</li>
        <li>Leaning into rocks</li>
    </ul>
</article>
<article>
    <h1>Anatomy of Whitewater</h1>
    <ul>
        <li>River orientation: upstream/downstream & river left/river right</li>
        <li>River features/hazards:</li>
        <ul>
            <li>Eddy</li>
            <li>Eddy lines</li>
            <li>Rocks; good & bad</li>
            <li>Pillows</li>
            <li>Boils & whirlpools</li>
        </ul>
    </ul>
    <p>Watch the following video which depicts current, an eddy & the eddy line between them.</p>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/S1wt5Yo5XIY?si=KjdH5MKsf38alUn-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</article>
<article>
    <h1>River Features</h1>
    <p>Rivers have many features; some are good, some are bad.</p>
    <p>During your kayaking career you will boat on rivers with many different
        features. Knowing what to do, which to avoid and what to get excited about
        is a skill that comes with time.</p>
    <p>Try to keep your eyes open for river features and see if you can identify
        them while we’re on the river.</p>
</article>
